{% extends "core/base.html" %}

{% load static %}

{% block title %}Minhas Tarefas{% endblock %}

{% block content %}
<h2>Minhas Tarefas</h2>

<div id="letreiro-tarefas" style="height: 30px; border: 1px solid #ccc; margin: 20px 0; position: relative; overflow: hidden;"></div>


<div class="filtros">
    <a href="?filtro=pendentes" class="{% if request.GET.filtro == 'pendentes' %}ativo{% endif %}">Pendentes</a> |
    <a href="?filtro=concluidas" class="{% if request.GET.filtro == 'concluidas' %}ativo{% endif %}">Concluídas</a> |
    <a href="{% url 'lista_tarefas' %}">Todas</a>
</div>

<ul>
  {% for tarefa in tarefas %}
    <li
      {% if tarefa.status == "CONCLUIDA" %}
        class="concluida"
      {% endif %}
    >
      {{ tarefa.titulo }} 
      {% if tarefa.data_limite %}
        <span class="data-status">Data Limite: {{ tarefa.data_limite|date:"d/m/Y" }}</span>
      {% else %}
        Sem data limite
      {% endif %}
      <a href="{% url 'editar_tarefa' tarefa.id %}">Editar</a>
      <a href="{% url 'excluir_tarefa' tarefa.id %}">Excluir</a>
    </li>
  {% empty %}
    <li>Nenhuma tarefa encontrada.</li>
  {% endfor %}
</ul>

<p>
    <a href="{% url 'criar_tarefa' %}" 
   style="display: inline-block; background-color: #007BFF; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; text-align: center; margin: 20px auto; display: block; width: max-content;">Adicionar nova tarefa</a>
</p>

<!-- Passando JSON seguro para JS -->
<script id="tarefas-data" type="application/json">
    {{ tarefas_json|safe }}
</script>

<script src="{% static 'core/js/index.js' %}"></script>
{% endblock %}
